
.page-title {
    border-left: 3px solid lightskyblue;
    margin: 20px 0 20px 0;
    padding: 10px;
}

.cards-hand-display {
    border: 1px solid lightslategrey;
}

img.card-image {
    width: 70px;
}

button {
    width: 100px;
}
