
.page-title {
    border-left: 3px solid lightskyblue;
    margin: 20px 0 20px 0;
    padding: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

.page-title img {
    width: 140px;
}